
<div class="container">

  <div class="d-flex justify-content-evenly text-dark">
    <div class="text-dark">
      <h1>Be Young, Have Fun, <br> <span>Drink Pepsi</span></h1>
      <p>Pepsi is a carbonated soft drink manufactured by PepsiCo. <br>Originally created and developed in 1893 by Caleb Bradham <br>and introduced as Brad's Drink, it was renamed as Pepsi-Cola in 1898, and then shortened to Pepsi in 1961.
      </p>
      <!-- <button class="btn3">Buy Now</button> -->
    </div>

  </div>
</div>