<div class="container" style="background-image: linear-gradient(to right top, #e1f0a6, #e2f08a, #e4f06c, #e8ee48, #eeec00); width: 100%;">
  <div class="row align-items-center my-5 py-5">
    <div class="col-6">
      <center >
    <h1 style="color: black;">Bus Ticketing System</h1>
    <p style="color: black;">Here you can register yourself and then book a reservation</p>    
  </center>
    </div>
    <div class="col-6">
      <%=image_tag("bus1.png",width: "100%" ,alt: "Edit Entry")%>
    </div>
  </div>
</div>


<i class="fa-solid fa-flag"></i>
<i class="fa-brands fa-amazon"></i>
<i class="fa-regular fa-bell"></i>