<div class="container" style="width: 100%;">
  <div class="row align-items-center my-5 py-5">
    <div class="col-4">
      <center >
    <h1 style="color: black;">Bus Ticketing System</h1>
    <p style="color: black;">Here you can register yourself and then book a reservation</p>    
  </center>
    </div>
    <div class="col-8">
      <%=image_tag("bus1.png",width: "100%" ,alt: "Edit Entry")%>
    </div>
  </div>
</div>
