<center><h1>Add Your Bus Here:</h1></center>
<div class="container d-flex justify-content-center">
	<div class="card p-5 w-50 shadow-lg p-3 mb-5 bg-body rounded">
		<%= render "form", bus: @bus %>
	</div>
</div>